:root {
    --darkblue: #174668;
    --lightblue: #007EA7;
    --white: #FFFFFF;
    --mediumblue: #45A1BF;
}

body {
    color: var(--darkblue);
    background-color: white;
    font-family: 'Lato', sans-serif;
    margin: 0px;
}

.nav-bar li{
    display: inline;
    color: var(--white);
}

.nav-bar li:hover{
    color: var(--darkblue);
}

.nav-bar {
    background-color: var(--lightblue);
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.card {
    width: 200px;
    border: 6px solid var(--darkblue);
    margin: 10px;
    padding: 5px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    box-shadow: 2px 2px rgb(0,0,0,.4)
}

.date-entry{
    width: 50%;
    background-color: var(--lightblue);
    border: 2px solid var(--darkblue);
    display: flex;
    justify-content: center;
    box-shadow: 2px 2px rgb(0,0,0,.4);
    padding: 10px;
    margin: 5px;
}

.date-entry input {
    margin: 5px 10px;
    width: 85%;
    height: 30px;
    font-size: 16px;
}

.date-entry button {
    margin: 10px;
    font-size: 20px;
}


.center-flex {
    display: flex;
    justify-content: center;
    width: 100%;
}

h1 {
    margin-left: 5px;
}

button {
    background-color: var(--lightblue);
    color: white;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    margin: 3px;
}

button:hover{
    color: var(--white);
    background-color: var(--darkblue);
}

.form-button {
    background-color: var(--mediumblue);
    width: 50%;
}

.movie-search input {
    margin: 0px 5px;
}

.movie-search input[type="submit"] {
    background-color: var(--lightblue);
    color: white;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    margin: 3px;
}

.movie-search input[type="submit"]:hover {
    color: var(--white);
    background-color: var(--darkblue);
}

.movie-search {
    margin-left: 10px;
}

.movie-result {
    display: flex;
    justify-content: space-around;
    margin: 20px 10px;
}

.movie-info {
    margin: 0px 10px;
}


.save-movie button {
    font-size: 26px;
}

.saved-movie-name {
    font-size: 24px;
    color: white;
    margin-left: 10px;
}

.saved-movie-poster {
    width: 80%;
}
